<% 
let baseURL=it.baseURL 
let version=it.version 
%>

  <span class="footer-link">
    Code licensed under <a href="https://github.com/LargeNFT/large-nft/blob/master/LICENSE.md" class="external">MIT</a>
  </span>

  <span class="footer-link">
    <a href="https://github.com/LargeNFT/large-nft" class="external">GitHub</a>
  </span>

  <span class="footer-link">
    <a href="https://twitter.com/large_nft" class="external">Twitter</a>
  </span>

  <span class="footer-link">
    <a href="https://www.npmjs.com/package/large-nft/v/<%= version %>" class="external">
      <%= version %>
    </a>
  </span>

  <span class='footer-link'>
    <a href='https://largenft.org/privacy' class="external">Privacy Policy</a>
  </span>

  <span class='footer-link'>
    <a href='https://largenft.org/terms' class="external">Terms</a>
  </span>
  
  <span class='footer-link'>
    <a href='https://largenft.org/disclaimer' class="external">Disclaimer</a>
  </span>